/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply common styles to the body element for the explore page */
body {
    font-family: 'Amaze', sans-serif;
    background-image: url('bg.jpg'); /* Replace 'your-image.jpg' with the path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* Set the height to 80% of the viewport height */
    margin: 0;
}

/* Style for the explore container */
.container {
    max-width: 800px; /* Increase the maximum width */
    width: 100%; /* Ensure the container occupies 100% of its parent's width */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7); /* White container background with transparency */
    border: 2px solid #333; /* Thicker border */
    border-radius: 10px; /* Rounded edges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Style for individual events */
.event {
    margin-bottom: 30px; /* Increase the margin to create more gap between events */
    padding: 20px;
    background-color: #f9f9f9; /* Event container background color */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

/* Style for the event buttons */
.button {
    display: block;
    width: 200px; /* Set the button width to 200px */
    padding: 10px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 20px; /* Rounded edges */
    cursor: pointer;
    text-decoration: none; /* Remove the default link underline */
    margin: 10px auto; /* Center the button horizontally */
    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    background-color: #0056b3;
}
